@{
    Layout = null;
}
@using Web.Areas.Admin.ViewModels.Account;
@model ResetPasswordVM;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Admin/styles/style.css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <title>@ViewBag.Title</title>
</head>
<body id="particles-js">
    <div class="animated bounceInDown">
        <div class="container">
            <span class="error animated tada" id="msg"></span>
            <form method="post" asp-action="resetpassword" asp-controller="account" asp-area="admin" class="box">
                <h4>Admin<span>Dashboard</span></h4>
                <h5>Reset Password</h5>
                <input asp-for="@Model.Password" placeholder="Password" autocomplete="off">
                <i class="typcn typcn-eye" id="eye"></i>
                <input asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" autocomplete="off">
                <div style="color:red !important;font-size:14px !important;display:block;" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn1">Reset</button>
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.Token" />
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/Admin/scripts/login.js"></script>
</body>
</html>
